[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/aeron"]
	path = external/aeron
	url = https://github.com/real-logic/aeron.git
[submodule "external/aeron-archive-client"]
	path = external/aeron-archive-client
	url = https://github.com/fairtide/aeron-archive-client.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
